:host {
    display: block;
    /*background: rgba( 255,255,255,0.2);*/
    font: inherit;
    color: inherit;
    font-size: 34px;
    padding: 20px;
}

h1 {
    font: inherit;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto 2em;
    color:#fdfdfa;
}


input-ripple {
    margin-top: .5em;
    width: 100%;
    text-align: center;
}

input-ripple /deep/ #label {
    color: #ddd;
}

urban-login {}

urban-login /deep/ paper-button {
    color: #fdfdfa;
}

urban-notification {
    margin-top: 1em;
    text-align: center;
    /*color: #ff2114;*/
}

urban-notification /deep/ svg {
    /*fill: #ff2114;*/
}

urban-notification > div {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
}

urban-notification > div.transparent {
    opacity: 0;
}


urban-notification core-icon + span {
    margin-left: 8px;
}

urban-notification /deep/ #icon {
    width: 18px;
    height: 18px;
    top: -1px;
}
